body {
  background-color: #444d40;
}

.center {
  display: grid;
  place-items: center;
  height: 90vh;
}

.Burger {
  margin: auto;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.BreadTop {
  height: 75px;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  position: relative;
}

.BreadBottom {
  height: 50px;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
}

.Meat {
  height: 25px;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 15px;
}

.Cheese {
  height: 15px;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;
}

.animation-enter {
  transform: translate(-1000px, 0px);
}
.animation-enter-active {
  transform: translate(0px, 0px);
  transition: all 500ms;
}
.animation-exit {
  transform: translate(0px, 0px);
}
.animation-exit-active {
  transform: translate(1000px, 0px);
  transition: all 500ms;
}
